table {
    display: table;
    border-spacing: 2px;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: rgb(181, 181, 181);
}

thead tr th:first-child{
    border-right : none;
    background-color: rgb(255, 255, 255);
}

tr:nth-child(1) td:nth-child(2){
    background-color: rgb(249, 189, 154);
}

tr:nth-child(3) td{
    background-color: rgb(249, 189, 154);
}

tr:nth-child(4) td{
    background-color: rgb(249, 189, 154);
}

tr:nth-child(6) td{
    background-color: rgb(249, 189, 154);
}